<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{question.title}}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'people.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'asksdetail.css'%}"/>
</head>

<body>
    <div class="header">
        <div class="header-wapper">
            <a class="header-logo" href="">知乎</a>
            <nav class="header-nav">
                <a href="">首页</a>
                <a href="">发现</a>
                <a href="">话题</a>
            </nav>
            <div class="header-seacher">
                <form>
                    <div class="header-seacher-input">
                        <input type="text" name="" placeholder="搜索你感兴趣的内容...">
                    </div>
                    <button class="header-seacher-btn" type="submit">提问</button>
                </form>
            </div>
        </div>
    </div>

    <div class="main">
        <div>
            <div class="question-back card">
                <div class="question-wapper">
                    <div class="question">
                        <h1 class="question-title">{{question.title}}</h1>
                        <div class="question-content">{{question.content}}</div>
                    </div>
                </div>
            </div>
            <div class="answer-wapper">
            <div>
                <div class="answer card">
                    {%for answer in answers%}
                    <div class="list-item">
                        <div class="item-title">{{answer.content}}</div>
                        <div class="item-statistic">{{answer.release_date}}</div>
                    </div>
                    {% endfor %}
                </div>

                <div class="add-item card">
                    <div>
                        <div class="add-header">
                            <div class="author-info">
                                <span><img src="/static/{{user.head}}" style="width: 38px; height: 38px;"></span>
                                <div class="author-name">{{user.name}}</div>
                            </div>
                            <button class="annoymous" type="button">使用匿名身份回答</button>
                        </div>
                        <form method="POST">
                            <div class="rich-text">
                                <input type="text" name="add" placeholder="写回答...">
                            </div>

                            <div class="answer-btn">
                                <input class="add-answer" type="submit" value="提交回答">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
                <div class="right-siber card"></div>
            </div>
        </div>
    </div>
</body>
</html> 