<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>知乎 - 与世界分享你的知识、经验和见解</title>

	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css'%}"/>

</head>
<body>
	<div class="index-main">
		<div class="index-main-body">
			<div class="index-header">
				<h1 class="logo hide-text">知乎</h1>
				<h2 class="subtitle">与世界分享你的知识、经验和见解</h2>
			</div>
			<div class="sign-flow">
				<div class="index-tab-navs">
					<div class="navs-slider">
						<a id="signup" class="active" href="#signup">注册</a>
						<a id="signin" class=""  href="#signin">登录</a>
						<span id="sliderbar" class="navs-slider-bar"></span>
					</div>
				</div>
				<div id="view-signup" class="view view-signup" >
					<form id="sign-form-1" class="zu-side-login-box">
						<div class="group-inputs">
							<div class="name input-wrapper">
								<input type="text" name="fullname" placeholder="姓名">
							</div>
							<div class="email input-wrapper">
								<input type="text" name="account" placeholder="手机号">
							</div>
							<div class="input-wrapper">
								<input type="text" name="password" placeholder="密码（不少于6位）">
							</div>
						</div>
						<div class="button-wrapper command">
							<button class="sign-button submit" type="submit">注册知乎</button>
						</div>
					</form>
				</div>
				<div id="view-signin" class="view view-signin" style="display: none;">
					<form method="POST">
						<div class="group-inputs">
							<div class="account input-wrapper">
								<input type="text" name="account" placeholder="手机号">
							</div>
							<div class="verification input-wrapper">
								<input type="text" name="password" placeholder="密码">
							</div>
						</div>
						<div class="button-wrapper command">
							<button class="sign-button submit" type="submit">登录</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer"></div>

	 {% load staticfiles %}
	<script src="{% static 'home.js' %}"></script>

</body>
</html>