* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
	font-size: 15px;

	color: #262626;
	background: #f7f8fa;
	position: relative;
}

/*div {
	border: 1px dashed blue;
}*/

.header,
.main
 {

	display: flex;
	justify-content: center;	
}

.header {
	position: fixed;
	left: 0;
	top: 0;

	box-sizing: border-box;
	overflow: hidden;
	width: 1349px;
	z-index: 100;
	border-bottom: 1px solid rgba(30, 35, 42, .06);
	box-shadow: 0px 1px 3px 0px rgba(0, 34, 77, .05);
	background: #fff;
}
.main {
	margin-top: 60px;
}
.header-wapper {
	min-width: 1032px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	width: 998px;
	height: 60px;
}

.main-wapper {
	width: 998px;
}
.profile-header {
	margin-top: 14px;
}
.profile-main {
	width: 1000px;
	display: flex;
	justify-content: space-between;		
}


.header-logo {
	font-size: 25px;
	color: #0f88eb;
}

.header-wapper a {
	display: inline-block;
}
.header-nav {
	display: flex;
	justify-content: space-between;

	width: 170px;
	height: 30px;
	margin-left: 27px;
	margin-right: 27px;
}
.header-nav a {
	line-height: 30px;
	color: #8590a6;
}

.header-seacher form{
	display: flex;
}

.header-seacher-input {
	width: 326px;
}

.header-seacher-input {
	padding: 4px 10px;
	border: 1px solid #e7eaf1;
	border-radius: 3px;
	background: #f7f8fa;
	
}

.header-seacher-input input {
	width: 100%;
	border: none;

	font-size: 14px;
	background: #f7f8fa;
}

.header-seacher-btn{

	padding: 0px 14px;
	margin-left: 17px;
	border: 1px solid #0f88eb;
	border-radius: 3px;

	font-size: 14px;

	color: #fff;
	background: #0f88eb;
}










.usercovereditor {
	position: relative;
}

.usercover-guide {
	position: absolute;
	z-index: 2;

	width: 100%;
	height: 100%;

	border-top-right-radius: 1px;
	border-top-left-radius: 1px;
	overflow: hidden;
}

.usercover-colorblock {
	height: 132px;
	border-top-right-radius: 1px;
	border-top-left-radius: 1px;
	background-color: #96a1a9;
}

.usercover-guide-inner {
	position: relative;
	z-index: 2;
	float: right;
	padding: 24px;
}

.usercover-guide-items {
	width: 100%;
	height: 100%;
}

.usercover-guide-btncontainer {
	margin-bottom: 14px;
	text-align: right;
}

.dynamicbtn {
	color: #ccd8e1;
	padding: 0 16px;
	font-size: 14px;
	line-height: 34px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #ccd8e1;
	background: none;
}

.profile-header-wrapper {
	position: relative;
	width: 100%;
	background: #fff;
	box-sizing: border-box;
}

.profile-header-main {
	position: relative;
	margin: 0 24px 24px 24px;
}

.profile-header-main-pic {
	position: absolute;
	left: 0px;
	z-index: 4;
	top: -74px;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
}

.profile-header-main-content {
	padding-top: 16px;
	padding-left: 32px;
	border-left: 164px solid transparent;
	padding-bottom: 16px;
}
.profile-header-main-content  h1 {
	padding-bottom: 24px;
}
.profile-header-main-arrow {
	width: 524px;
	height: 30px;
}
.profile-header-main-contentfooter-btn {
	position: absolute;
	right: 0;
	bottom: 26px;
}


.profile-header-main-contentfooter-btn button{
	width: 100%;
	padding: 0 16px;
	font-size: 14px;
	color: #0f88eb;
	line-height: 34px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #0f88eb;
	background: none;
}






.profile-main {
	margin: 14px auto;
	width: 1000px;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;		
}

.profile-main-column {
	width: 690px;
}

.profile-side-column {
	width: 296px;
	color: #555;
}

.card {
	background: #fff;
	border: 1px solid #e7eaf1
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
	box-sizing: border-box;
}

.profile-main-header ul {
	padding: 0 4px;
	border-bottom: 1px solid #f0f2f7;
}

.profile-main-header ul li {
	display: inline-block;
	padding: 0 20px;
}

.tabs-link{
	display: inline-block;
	padding: 16px 0px 17px 0;
	font-size: 16px;
	line-height: 21px;
	color: #404040;

}

.list {
	padding: 0 24px;
}

.list-header h4 {
	margin: 20px 0;
}

.list-header {
	border-bottom: 1px solid #f0f2f7;
}


.list-item {
	border-bottom: 1px solid #f0f2f7;
	padding: 20px 0;
}

.item-title h2 a{
	font-weight: 400;
	color: #1e1e1e;
}
.item-statistic {
	margin-top: 15px;

	font-size: 14px;
	color: #8590a6;
}

